
        body {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            background-color: #f5f2f2;
            height: 100vh;
            direction: rtl;
        }
        html {
            font-size: 25px;
        }
     img {
        border-radius: 27px;
        object-fit: cover;   
        border: 2px solid #000;    
    }
    h1 {
        font-family: inherit;
        color: brown;
        font-size: 50px;
        font-weight: 700;
    }
    .list-item {

        color: rgb(55, 16, 231);
        font-size: 55px;
        font-weight: bolder;
    }
    li {

        color: rgb(0, 0, 0);
        font-size: 35px;
        font-weight: bolder;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    @font-face{
        font-family: "ibm";
        src: url(/Level\ 1/#f5f2f2);
     }
     li{


        color: rgb(250, 102, 4);
        font-size: 35px;
        font-weight: bolder;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

     }